@font-face {
    font-family: 'Proxima Nova Black';
    src: url('/assets/fonts/PROXIMANOVA-BLACK.WOFF') format('woff'), url('../PROXIMANOVA-BLACK.woff') format('woff');
}
@font-face {
    font-family: 'Zwizz Bold';
    src: url('/assets/fonts/Zwizz-Bold.WOFF') format('woff'), url('../Zwizz-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Zwizz Regular';
    src: url('/assets/fonts/Zwizz-Regular.WOFF') format('woff'), url('../Zwizz-Regular.woff') format('woff');
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	font-family: 'open sans';
background: #000; /* fallback for old browsers */
/*background: -webkit-linear-gradient(to top, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to top, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
               
}
.wrapper {
	width: 1400px;
	min-height: 500px;
	border: solid 2px white;
	margin: auto;
}
.answer-form {
	margin: auto;
	margin-bottom: 50px;
	width: 80%;
}
.question {
	font-weight: bold;
	position: relative;
	top: 20%;
}
.answer-form--height,
.answer-form--width {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: solid 2px grey;
	height: 2em;
	text-align: center;
	width: 30%;
	margin: 0 5%;
	font-size: 1rem;
}
.cross {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
}
.submit {
	font-weight: bold;
	cursor: pointer;
	color: white;
	text-transform: uppercase;
	padding: 0.75em 1em;
	text-align: center;
	border: none;
	border-radius: 2px;
	margin: 10px;
	width: 80px;
	font-family: 'open sans';
background: #fe8c00; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(right, #fe8c00 , #f83600);
background: linear-gradient(to left, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.banner {
	background: #fe8c00; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #fe8c00 , #f83600); /* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(right, #fe8c00 , #f83600);
background: linear-gradient(to left, #fe8c00 , #f83600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin: 10px;
padding: 0.5em;
text-transform: uppercase;
font-family: 'zwizz bold';
text-align: center;
position: absolute;
}
#leaderboard {
	width: 728px;
	height: 90px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	right: 260px;
}
#skyscraper {
	height: 600px;
	width: 120px;
	top: 530px;
}
#wide-skyscraper {
	width: 160px;
	height: 600px;
	top: 530px;
	left: 400px;
}
#three-one-rectangle {
	width: 300px;
	height: 100px;
}
#full-banner {
	width: 468px;
	height: 60px;
	top: 450px;
}
.title {
	font-family: 'zwizz regular', helvetica;
	color: #fff;
	padding: 0.25em;
	font-weight: 300;
	height: 20%;
	font-size: 11vw;
	text-align: center;

}
.title--span {
	font-weight: 800;
	font-family: 'zwizz bold';
}