$purple: #660099;
$green: #00cc00;

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('/assets/fonts/PROXIMANOVA-BLACK.WOFF') format('woff'), url('../PROXIMANOVA-BLACK.woff') format('woff');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background: #000;    
}

.app-wrapper {
	width: 60%;
	margin: auto;
	height: 50vh;
	background: #fff;
}

.title {
	font-family: 'Proxima Nova Black', helvetica;
	color: $purple;
	padding: 1em;

}

.title--span {
	color: $green;
}